{{> header}}
			<div id="contents">
				<div class="box">
					<div>
						<div class="body">
							<h1>Travel</h1>
							<ul id="sites">
								{{#each trips}}
								<li>
									<a href="travel.html"><img src="images/{{image}}" alt="Img"></a>
									<h2><a href="travel.html">{{name}}</a></h2>
									<p>
										{{description}}
									</p>
								</li>
								{{/each}}
							</ul>
						</div>
					</div>
				</div>
			</div>
{{> footer}}