<div class="card">
  <div class="card-header">Edit Trip</div>
  <div class="card-body">
    <form [formGroup]="editForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="row g-3">
        <div class="col-md-6">
          <label class="form-label">Code</label>
          <input class="form-control" formControlName="code" />
        </div>
        <div class="col-md-6">
          <label class="form-label">Name</label>
          <input class="form-control" formControlName="name" />
          <small class="text-danger" *ngIf="submitted && f['name']?.errors?.['required']">Name is required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Length</label>
          <input class="form-control" formControlName="length" />
          <small class="text-danger" *ngIf="submitted && f['length']?.errors?.['required']">Length is required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Start</label>
          <input type="date" class="form-control" formControlName="start" />
          <small class="text-danger" *ngIf="submitted && f['start']?.errors?.['required']">Start date is required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Resort</label>
          <input class="form-control" formControlName="resort" />
          <small class="text-danger" *ngIf="submitted && f['resort']?.errors?.['required']">Resort is required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Per Person</label>
          <input class="form-control" formControlName="perPerson" />
          <small class="text-danger" *ngIf="submitted && f['perPerson']?.errors?.['required']">Price is required</small>
        </div>
        <div class="col-md-6">
          <label class="form-label">Image</label>
          <input class="form-control" formControlName="image" />
          <small class="text-danger" *ngIf="submitted && f['image']?.errors?.['required']">Image is required</small>
        </div>
        <div class="col-12">
          <label class="form-label">Description</label>
          <textarea class="form-control" rows="4" formControlName="description"></textarea>
          <small class="text-danger" *ngIf="submitted && f['description']?.errors?.['required']">Description is required</small>
        </div>
      </div>
      <div class="mt-3 d-flex gap-2">
        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" routerLink="/">Cancel</a>
      </div>
      <div class="text-danger mt-2" *ngIf="message">{{ message }}</div>
    </form>
  </div>
</div>
